extends ../layout

block head
    link(rel='stylesheet' href='/stylesheets/editUser.css')
    script(src='/javascript/editUser.js')
block content
    form(method="POST")#editForm
        h4
            a(href=back) &#8592;
        textarea(name="aboutMe")#aboutMe=aboutMe
        br
        br
        div#output
        br
        br
        if editorMod
            input(name="isMod" type="checkbox" value="Is Moderator?" checked=isMod)#isMod
            label(for="isMod") Is Moderator?
        input(type="submit" value="Update!")#submit
