extends ../layout

block head
    script(src='/javascript/users.js')

block content
    div.userSearch
        h4 Search for a user:
        fieldset
            select#queryType
                option(data-type=1) Username starts with
                option(data-type=2) Username ends with
                option(data-type=3) Username is
            span &nbsp;&nbsp;&nbsp;&nbsp;
            input#searchBar
    div.usersResult