extends ../layout

block head
    link(rel="stylesheet" href="/stylesheets/forgot.css")
    style.
        #content {
            padding-top: 20px;
        }

        #passwordStrength {
            display: block;
            background-color: green;
            height: 12px;
        }

        #signupForm label {
            padding-right: 7px;
        }
    script.
        $(function () {
            function center() {
                $('#content').css({
                    position: 'absolute',
                    left: ($(window).width() / 2 - getComputedStyle($('#content')[0]).width.match(/\d+/) / 2)
                });
            }

            center();
            addEventListener('resize', center, false);
            function checkPassword() {
                if ($('#password').val() !== $('#password2').val()) {
                    $('#passwordError').text('Passwords do not match');
                } else
                    $('#passwordError').text('');
            }

            function checkStrength() {
                //We use the password in #password
                var strength = passStrength($('#password').val());
                $('#passwordStrength').css('width', strength);
            };
            $('#password').on('keydown, keyup, input', checkPassword);
            $('#password2').on('keydown, keyup, input', checkPassword);
            $('#password').on('keydown, keyup, input', checkStrength);
            $('#password2').on('keydown, keyup, input', checkStrength);
            $('#forgotForm').submit(function (e) {
                if ($('#password').val() !== $('#password2').val()) {
                    alert('Password does not match');
                    e.preventDefault();
                    return false;
                }
                if (!$('#password').val().match(/\d/)) {
                    alert('Password must contain at least 1 number');
                    e.preventDefault();
                    return false;
                }
                if (!$('#password').val().match(/[!@#\$%^&*\()\{}\[\]|\\;:'",\./?<>~`\-_+=]/)) {
                    alert('Password must contain at least 1 special character');
                    e.preventDefault();
                    return false;
                }
            });
        });


block content
    form(method="POST")#forgotForm
        label Password:
        input(name="password" type="password" style="margin-left: 102px;")#password
        div(style="margin-left: 10px; display: inline-block;")#passwordError
        br
        br
        label Confirm password again:
        input(type="password" style="margin-left: 13px;")#password2
        div(style="margin-left: 10px; display: inline-block;")#passwordStrength
        br
        br
        input(type="submit")