extends ../layout

block head
    script(src="/javascript/helper.js")
    script.
        $(function () {
            $('#content').css({
                position: 'absolute',
                left: ($(window).width() / 2 - getComputedStyle($('#content')[0]).width.match(/\d+/) / 2)
            });
            function checkPassword() {
                if ($('#password').val() !== $('#password2').val()) {
                    $('#passwordError').text('Passwords do not match');
                } else
                    $('#passwordError').text('');
            }

            function checkStrength() {
                //We use the password in #password
                var strength = passStrength($('#password').val());
                $('#passwordStrength').css('width', strength);
            };
            $('#password').on('keydown, keyup, input', checkPassword);
            $('#password2').on('keydown, keyup, input', checkPassword);
            $('#password').on('keydown, keyup, input', checkStrength);
            $('#password2').on('keydown, keyup, input', checkStrength);
        });
    style.
        #content {
            padding-top: 20px;
        }

        #passwordStrength {
            display: block;
            background-color: green;
            height: 12px;
        }

        #signupForm label {
            padding-right: 7px;
        }

block content
    form(method="POST" action="/users/signup")#signupForm
        label Username:
        input(name="username" style="margin-left: 98px;")#username
        br
        br
        label Password:
        input(name="password" type="password" style="margin-left: 102px;")#password
        div(style="margin-left: 10px; display: inline-block;")#passwordError
        br
        br
        label Confirm password again:
        input(type="password" style="margin-left: 1px;")#password2
        div(style="margin-left: 10px; display: inline-block;")#passwordStrength
        br
        br
        label Email:
        input(type="email" name="email" style="margin-left: 130px;")#email
        br
        br
        input(type="submit" value="Sign up")