html
    body
        h1 Welcome to Team Free Hugs, ${USERNAME}!
        h4 Before you use our services, please visit this link to validate your account:
        a(href='http://localhost:3000/users/confirm/${TOKEN}') Click here
        h6 If you did not sign up for an account, you can safely delete this email.