extends ../layout

block head
    link(rel='stylesheet', href='/stylesheets/chat.css')
    script.
        $(function () {
            var typingTimer;
            var doneTypingInterval = 600;
            var $input = $('#roomCount');
            $input.on('keyup', function () {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(doneTyping, doneTypingInterval);
            });
            $input.on('keydown', function () {
                clearTimeout(typingTimer);
            });
            doneTyping();
            function doneTyping() {
                var roomsXML = $.ajax({
                    type: 'GET',
                    url: '/chat/rooms',
                    data: {number: $('#roomCount').val() || 10},
                    async: false
                }).responseText;
                $('.roomContainer').html(roomsXML);
            }
        });

block content
    h2="Rooms"
    label Number of rooms:
    input(type='number' style='margin-left: 10px;' value=10 id='roomCount')
    hr
    div.roomContainer
    div.roomControl
        button(onclick="window.location = '/chat/rooms/add'") Add a new room
    if typeof chatUser !== 'undefined'
        input(type='hidden' value=chatUser.key)#key
