.mainChat
  display block
  height calc(100vh - 100px)
  width calc(100vw * 0.65)
  position fixed
  top 0
  left 0
  overflow-y auto

.rightBar
  display block
  height calc(100vh - 100px)
  width calc(100vw * 0.3)
  position fixed
  top 0
  right 0

.inputBox
  display block
  position fixed
  bottom 0
  left 0
  background-color blue
  height 100px
  width 100vw

.wrapper > div
  padding 0

#dropdown
  top 16px

#messageInput
  resize none
  position absolute
  top 0
  left 100px
  width 500px
  height 70px

#buttonContainer
  position absolute
  left 620px
  width 500px
  height 70px
  display inline-block

.inputWrap > *
  margin-top 10px

#blockChat
  width 100vw
  height 100vh
  display block
  position fixed
  top 0
  left 0
  background-color grey
  opacity 0.2

#chatLoading
  position fixed
  top 50%
  left 50%
  transform translate(-50%, -50%)
  width 500px
  height 300px
  display block
  background-color #ffffff

#chatLoading > h1
  text-align center

.messageBubble
  display inline-block
  margin-bottom 3px

  width 100%
  border-radius 6px
  min-height 40px

.messageBubble.messageOut
  background-color #C9FFE5

.messageBubble > p
  margin-left 5px

.userCard > a
  text-decoration none
  color #000000
  padding-left 5px

.messageWrap
  margin-top 10px
  margin-left 20px
  margin-right 5px

.popup
  width 100vw
  height 100px
  position fixed
  top -100px
  left 0
  background-color #ffffff
  -webkit-box-shadow 3px 3px 5px 6px #ccc
  -moz-box-shadow 3px 3px 5px 6px #ccc
  box-shadow 3px 3px 5px 6px #ccc

.popup > *
  margin-left 20px

.popupClose
  text-decoration none
