.roomcard {
  width: 200px;
  height: 200px;
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  border: 1px solid #aaa;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 2px 2px 5px #888;
}
.roomcard > h3 {
  margin-left: 8px;
  margin-top: 8px;
}
.roomContainer {
  margin-top: 5px;
}
