#mainChat
  display block
  height calc(100vh - 100px)
  position absolute
  top 0
  left 0
  width 100vw
  overflow auto
  padding-top 5px
  transform translate(0%, -75px)
  background-color #ffffff

#inputBar
  display block
  height 100px
  position fixed
  bottom 0
  left 0
  width 100vw
  background-color #72A0C1

#messageInput
  width calc(100vw - 150px)
  max-width calc(100vw - 130px)
  height 80px
  max-height 80px
  min-height: 80px
  position absolute
  top 50%
  transform translate(0%, -50%)

#buttonArea
  position absolute
  right 100px
  display block
  width 50px
  height 100px

#buttonArea > *
  margin-top 10px

.popup
  width 100vw
  min-height 100px
  position fixed
  top -100px
  left 0
  background-color #ffffff
  -webkit-box-shadow 3px 3px 5px 6px #ccc
  -moz-box-shadow 3px 3px 5px 6px #ccc
  box-shadow 3px 3px 5px 6px #ccc
  padding-bottom 5px

.popup > *
  margin-left 20px

.messageBubble
  display inline-block
  margin-bottom 3px

  width 96vw
  border-radius 6px
  min-height 40px

.messageBubble.messageOut
  background-color #C9FFE5

#pingPopup
  top -39px
  left 101px
  height 36px
  position absolute
  background-color #ffffff
  border 1px solid #000000
  display none

#sidebar-right
  height 100vh
  width 300px
  display block
  background-color #1C1CF0
  z-index 102
  position fixed
  top 0
  right -300px

#roomName, #roomDesc
  margin-left 30px

#usersContainer
  margin-left 10px
  margin-right 10px