blockquote
  border-left 1px solid #FFBF00
  display block
  height 20px


blockquote > *
  margin-left 5px


blockquote.spoiler
  height 20px
  display block

blockquote.spoiler:hover > *
  opacity: 1
  transition: opacity 0.5s ease;

blockquote.spoiler > *
  opacity 0
  transition: opacity 0.5s e
                                          