body
  padding 0
  margin 0
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF

#header
  margin 0
  padding 0
  display block
  width 100vw
  height 80px
  background-color #CAE00D
  position absolute
  top 0

#header > *
  margin 0
  padding 0

#header-content > *
  padding-top 5px
  padding-left 5px

#footer
  display block
  width 100vw
  height 140px
  background-color #3B3C36
  color #FFFAF0
  z-index 1
  position fixed
  bottom 0

#content
  padding-bottom 150px

#links-container > *
  padding-top 5px;

#footer > *
  padding-left 8px

#links > *
  padding-left 10px
  border-left-color #343434

#content
  position absolute
  top 80px

#content > *
  padding-left 10px
  word-break break-all
  padding-right 10px
  word-wrap word-break

body
  overflow-x hidden

#dropdown
  width 64px
  height 64px
  border-radius 12px
  display block
  position absolute
  right 30px
  top calc(80px / 2 - 68px / 2)
  border 2px solid #ffffff

.dropdownBar
  width calc(100% - 10px)
  height 10px
  margin-left 5px
  margin-right 5px
  background-color: #ffffff
  margin-top 5px
  display block
  border-radius 2px

#sidebar-left
  height 100vh
  width 300px
  display block
  background-color #B284BE
  z-index 101
  position fixed
  top 0
  left -300px

#home
  color #000000
  text-decoration none

#userImg
  margin-left 10px

#userImg, #usernameTitle
  display inline-block

#userImg
  margin-top 10px

#usernameTitle
  position absolute
  left 50px

.link
  margin-left 5px
