extends ../layout

block head
    title="500 Internal Server Error"
    script.
        //noinspection BadExpressionStatementJS
        $(() = > {
            $('#infoMessage').hide();
        //noinspection BadExpressionStatementJS
        $('#infoButton').click(() = > $('#infoMessage').toggle());
        });

block content
    h1 500 Internal Server Error
    h4 Something bad happened in the server side. This shouldn't be your fault, we'll take a look at this.
    button#infoButton Info:
    pre#infoMessage=message