extends ../layout

block head
    title="404 Page Not Found"

block content
    h1 Error: 404 Not Found
    h4 &nbsp;&nbsp;&nbsp;The page you requested could not be found.
    if moreInfo
        p=moreInfo