extends ../layout

block head
    script="window.aboutMe='" + encodeURI(aboutMe) + "'"
    script.
        $(function () {
            $('#aboutMe').html(markdown(decodeURI(aboutMe)));
        });

block content
    img(src=imgURL width=32 height=32 style='transform: translate(0%, 20%);')
    h1(style='display: inline-block')='User ' + name
    h4 About Me:
    div(style="margin-left: 10px; min-height: 100px;")#aboutMe
    if isOwn
        a(href="/users/user/" + name + "/edit") Edit profile